/*Estilos de tu proyecto*/
*{
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    margin: 0;
    padding: 0;
}

/* Agregando estilos a header */
header{
    background: #292440;
    position: fixed;
    width: 100%;
    top: 0;
    height: 120px;
    padding: 3% 160px 3% 100px;
    line-height: 60px;
}

header img{
    display: inline;
    width: 5%;
}

nav{
    float: right;  
}

header nav ul li{
    display: inline;
    color: white;
    font-size: 18px;
    font-weight: lighter;
    padding: 20px;
}

#button{
    border-radius: 10px;
    padding: 10px 18px 10px 18px;
    background: #292440;
    border-style: 0.5px solid white;
    color: white;
    font-size: 18px;
    font-weight: lighter;
}



/* Agregando estilos a la primera seccion */

.one-section figure img{
     width: 100%;
     height: 650px;
}

.one-box{
    background: white;
    position: absolute;
    top: 121px;
    right: 0;
    height: 530px;
    width: 656px;
    padding: 5%;
}

.one-box h2, h5{
    color: #352384;
}

.one-box h2 {
    font-size: 40px;
}

.one-box h5 {
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 3px;
}

.conteiner4 {
    width: 100%;
    margin: 0px;
    background-color: white;
    display: inline-block;
    box-sizing: border-box;
    outline: 1px solid yellow;
}

.frase {
    width: 352px;
    margin: 10px;
    padding: 30px;
    background-color: white;
    float: left;
    line-height: 15pt;
}


/*texto*/

.etiqueta_texto {
    text-align: left;
    text-transform: uppercase;
}

.video1 {
    margin: 0px;
    width: 67%;
    outline: 1px solid white;
    box-sizing: border-box;
    display: inline-block;
}